@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: aqua;
  background-image: linear-gradient(
    180deg,
    hwb(196 0% 85%) 0%,
    rgb(78, 149, 158) 45%,
    rgb(50, 114, 122) 60%,
    rgb(21, 75, 82) 75%,
    hwb(196 1% 76%) 90%
  );
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
